{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}
  
  <!--Front page image-->
  <div class="container-fluid homeimage">
    <!-- Slogan -->
    <div class="row">
      <div class="d-flex justify-content-center align-items-center my-5" style="font-size: xx-large;">
        SLOGAN
      </div>
    </div>
    <!-- Sponsor Farmer button-->
    <div class="d-flex justify-content-center align-items-center my-5">
      <a class="btn btn-warning" href="sponsor" role="button">Click to Sponsor a Farmer</a>
    </div>
  </div>

  <!-- Introduction paragrap/statement block-->
  <div class="container-fluid mt-4" style="background-color: rgba(237,237,237,255);">
    <h2 class="d-flex justify-content-center" style="color: rgba(255,177,25,255);"> What Sets Us Apart</h2>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 d-flex justify-content-center">
        <p style="color: black;"> At BumperCrop we create a networking tool that bridges the gap between Indiana farmers and households. Our farmers have their own profile page that showcases their location, speciality crops, produce for sale, and contact information. Farmers also receive a monthly analytics report from us, showing the amount of profile clicks and revenue brought in from our website.
        </p>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>

{% endblock %}